.App {
  text-align: center;
}
.footer{
  background-color: black;
  height: auto;
  
}
.contact{
text-align: center;

}
.brand{
  text-align: left;
  color: grey;
}
.brand2{
  color: grey;
}
.fotterBrand{
  padding-right: 50px;
}
.carousel{
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.ingresa{
  padding-left: 800px;
}

.pForm{
  padding: 70px;
  text-align: left;
}

.pForm2{
  padding: 70px;
  text-align: left;
  width: fit-content;
}

.Link{
  text-decoration: none;
  color: black;
}

.card{
  padding: 10px;
  text-align: justify;
  
}
.cardCol{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.about{
  text-align: justify;
  width:800px;
  padding-left: 20px;
}
.allabout{
  display: flex;
  flex-direction: row;
 justify-content: space-evenly;
}

.linkFooter{
  text-decoration: none;
  color: gray;
}
.profilePic{
text-align: right;
line-height:0cm;
}
.pTable{
 padding: 20px;

 text-align: left;
}

.services{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: inherit;
}

.imgServices{
  text-align: center;
 
}

h3{
  text-align: center;
}
h1{
  font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
}
h7{
  color: gray;
}
h6{
  color: blue;
}
h8{
  color: red;
}

.buttonImg{
  padding: 10px;
  text-align: center;
}

.tableA{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.linkFooter2{
  text-decoration: none;
  color: black;
}
.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;
}

.buttonRes{
text-decoration: none;
color: beige;
padding-top: 60px;

 

}
.cardi{
  padding: 10px;
}

.textA{
  text-align: center;
  color: rgb(19, 8, 184);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.padImg{
  display: flex;
  flex-direction: column;
  align-content: center;
  

}

