.App {
  text-align: center;
}
.footer{
  background-color: black;
  height: auto;
  
}
.contact{
text-align: center;

}
.brand{
  text-align: left;
  color: grey;
}
.brand2{
  color: grey;
}
.fotterBrand{
  padding-right: 50px;
}
.carousel{
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.ingresa{
  padding-left: 800px;
}

.pForm{
  padding: 70px;
  text-align: left;
}

.Link{
  text-decoration: none;
  color: black;
}

.card{
  padding: 10px;
  text-align: justify;
  
}
.cardCol{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
